version: "3.1"

services:
  db:
    command: --default-authentication-plugin=mysql_native_password --character-set-server=utf8mb4 --collation-server=utf8mb4_general_ci
    image: mariadb:10.3
    restart: always
    volumes:
      - ./mysql:/var/lib/mysql
    environment:
      MARIADB_ROOT_PASSWORD: ${MARIADB_ROOT_PASSWORD}
      MARIADB_DATABASE: technical_order_editor_db
    ports:
      - 3306:3306
    networks:
      technical-order-editor-network:
        ipv4_address: 10.5.0.2

  phpmyadmin:
    image: phpmyadmin
    restart: always
    ports:
      - 8001:80
    environment:
      PMA_HOSTS: db
    depends_on:
      - db
    networks:
      technical-order-editor-network:
        ipv4_address: 10.5.0.3

  mongo_db:
    image: mongo:5.0.26
    restart: always
    command: mongod --replSet rs0 --bind_ip_all --port 27017 --keyFile /data/mongodb/keyFile 
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_DB_USERNAME} 
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_DB_PASSWORD}
    ports:
      - 27017:27017
    volumes: 
      - ./mongo_db:/data/db
      - ./mongodb-keyfile:/data/mongodb/keyFile
    networks: 
      technical-order-editor-network:
        ipv4_address: 10.5.0.4

  mongo-express:
    image: mongo-express:latest
    restart: always
    ports:
      - 8002:8081
    environment:
      ME_CONFIG_MONGODB_ADMINUSERNAME: ${MONGO_DB_USERNAME} 
      ME_CONFIG_MONGODB_ADMINPASSWORD: ${MONGO_DB_PASSWORD}
      ME_CONFIG_MONGODB_SERVER: mongo_db 
      ME_CONFIG_BASICAUTH_USERNAME: ${MONGO_DB_USERNAME} 
      ME_CONFIG_BASICAUTH_PASSWORD: ${MONGO_DB_PASSWORD}
    depends_on:
      - mongo_db
    networks: 
      technical-order-editor-network:
        ipv4_address: 10.5.0.5

  backend:
    build:
      context: ./backend
    restart: always
    ports:
      - 8000:8000
    depends_on:
      - db
      - mongo_db
    volumes:
      - ./backend:/app
    networks:
      technical-order-editor-network:
        ipv4_address: 10.5.0.6

networks:
  technical-order-editor-network:
    driver: bridge
    ipam:
      config:
        - subnet: 10.5.0.0/16
          gateway: 10.5.0.1
